body {
	margin: 0;
	padding: 0;
	background-color: #FFF;
	overflow: auto;
}

body:not(.loaded) {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter !important;
}

h2 {
	font-size: 28px !important;
	color: #666;
}

.login h2 {
	text-align: center;
	margin-bottom: 30px;
}

.logout {
	color: #0052FF;
	font-size: 16px !important;
	vertical-align: baseline;
	text-decoration: none;
}

h3 {
	font-size: 24px !important;
	color: #666;
}

img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

A {
	text-decoration: none;
	color: #29b6f6;
}

header {
	display: inline-block;
	width: 100%;
	min-height: 100px;
	line-height: 110px;
	font-size: 20px;
	background-color: #009688;
	text-align: center;
	color: #FFF;
	position: fixed;
	z-index: 2000;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjE0Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=); /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: linear-gradient(135deg,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.14) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#24000000',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	background-color: #009688;
	transition: min-height 500ms ease-out;
	-webkit-transition: min-height 500ms ease-out;
}

header:before {
	content: '';
	background-image: url('../images/header.png');
	background-position: center 20px;
	background-repeat: no-repeat;
	position: absolute;
	background-size: 540px 204px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	animation: header 1s ease-out;
	-webkit-animation: header 1s ease-out;
	transition: background 500ms ease-out;
	-webkit-transition: background 500ms ease-out;
}

@-webkit-keyframes header {
    0% {
    	-webkit-transform: scaleX(0.001);
    }
    20% {
    	-webkit-transform: scaleX(1.2);
    }
    40% {
    	-webkit-transform: scaleX(0.75);
    }
    60% {
    	-webkit-transform: scaleX(1.1);
    }
    80% {
    	-webkit-transform: scaleX(0.9);
    }
    100% {
    	-webkit-transform: scaleX(1);
    }
}

@keyframes header {
    0% {
    	-webkit-transform: scaleX(0.001);
    	transform: scaleX(0.001);
    }
    20% {
    	-webkit-transform: scaleX(1.2);
    	transform: scaleX(1.2);
    }
    40% {
    	-webkit-transform: scaleX(0.75);
    	transform: scaleX(0.75);
    }
    60% {
    	-webkit-transform: scaleX(1.1);
    	transform: scaleX(1.1);
    }
    80% {
    	-webkit-transform: scaleX(0.9);
    	transform: scaleX(0.9);
    }
    100% {
    	-webkit-transform: scaleX(1);
    	transform: scaleX(1);
    }
}

header h1 {
	line-height: 2em;
	margin: 220px 0 0 0;
}

body:not(.loaded) header {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
}

body.loaded header {
	min-height: 50px;
}

body.loaded header:before {
	background-position: center;
	background-size: 105px 40px;
}

body.loaded header h1 {
	display: none;
}

header.only-loading.ng-hide, header.only-loading.ng-leave {
	animation: fadeOut 500ms;
	-webkit-animation: fadeOut 500ms;
}

header > *{
	position: relative;
	z-index: 2;
}

header nav {
	padding: 0 10px;
	line-height: 10px;
	position: absolute;
	width: 50%;
	max-width: 512px;
	margin: auto;
	font-size: 0.8em;
	opacity: 0;
	transition: all 500ms ease-out;
	-webkit-transition: all 500ms ease-out;
	transition-delay: 1s;
	-webkit-transition-delay: 1s;
	transform: translateY(-50px);
	-webkit-transform: translateY(-50px);
}

.loaded header nav {
	opacity: 1;
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
}

header nav.nav-left {
	text-align: left;
	right: 50%;
}

header nav.nav-right {
	text-align: right;
	left: 50%;
}

header nav md-button{
	height: 50px;
	margin-top: 0px;
	padding: 10px;
}

 
md-button .md-button-inner:empty {
	display: none;
}

header nav md-button:before {
    font-size: 28px;
}

header nav md-button.md-default-theme:not([disabled]):hover,
header nav md-button.md-default-theme:not([disabled]).focus {
	background: rgba(0,0,0,0.1);
}

footer {
	width: 100%;
	min-height: 150px;
	padding: 20px;
	border-top: solid 1px #CCC;
	background-color: #e5e5e5;
	color: #444;
	position: relative;
	margin-top: -150px;
}

footer p {
	margin: 0 auto;
	max-width: 1024px;
	display: block;
}

footer img {
	display: inline-block;
	height: 50px;
	vertical-align: middle;
	margin-right: 10px;
}

footer img:hover {
	animation: tada 1s;
	-webkit-animation: tada 1s;
}

nav.filters A {
	color: inherit;
	text-decoration: none;
}

nav.filters A.on {
	font-weight: bold;
}

md-button.login-button {
	opacity: 1;
	margin-right: 20px;
}

md-button.login-button.ng-enter, md-button.login-button.ng-show {
	opacity: 0;
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
}

md-button.login-button.ng-leave, md-button.login-button.ng-hide {
	opacity: 0;
	-webkit-animation-name: fadeOutDown;
	animation-name: fadeOutDown;
	-webkit-animation-duration: 250ms;
	animation-duration: 250ms;
}

md-button.login-button.animate-repeat + md-button.login-button.animate-repeat {
	-webkit-animation-delay: 500ms;
    animation-delay: 500ms;
}

md-button.login-button.animate-repeat + md-button.login-button.animate-repeat + md-button.login-button.animate-repeat {
	-webkit-animation-delay: 1s;
    animation-delay: 1s;
}

md-button.login-button.animate-repeat + md-button.login-button.animate-repeat + md-button.login-button.animate-repeat + md-button.login-button.animate-repeat {
	-webkit-animation-delay: 1500ms;
    animation-delay: 1500ms;
}

md-radio-group.md-default-theme:focus {
	border: 1px dotted transparent;
}

md-checkbox .md-label {
	border: solid 1px transparent !important;
}

.login-button.facebook {
	background-image: url('../images/icons.png');
	background-size: 245px;
	background-position: -126px -1px;
	background-repeat: no-repeat;
}

.login-button.google {
	background-image: url('../images/icons.png');
	background-size: 245px;
	background-position: -63px -64px;
	background-repeat: no-repeat;
}

.login-button.twitter {
	background-image: url('../images/icons.png');
	background-size: 245px;
	background-position: -1px -189px;
	background-repeat: no-repeat;
}

.login-button.github {
	background-image: url('../images/icons.png');
	background-size: 245px;
	background-position: -1px -64px;
	background-repeat: no-repeat;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	display: block;
	max-width: 1024px;
	margin: 0 auto;
	padding: 70px 20px 180px 20px;
	border-radius: 0px;
	background: #FFF;
	position: relative;
}

.events-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.event-entry {
	border: solid 1px #CCC;
	width: 200px;
	height: 120px;
	border-radius: 2px;
	position: relative;
	margin: 0 10px 10px 0;
	cursor: pointer;
	background: url('../images/event-bkg.png');
	background-size: 200px;
	display: inline-block;
}

.event-entry:after {
	content: '';
	width: 36px;
	height: 36px;
	background: rgba(0, 150, 136, 0.7);
	position: absolute;
	right: -1px;
	bottom: -1px;
	z-index: 1;
	border-radius: 2px;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwOTY4OCIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICAgIDxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==); /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: linear-gradient(135deg,  rgba(0,150,136,0.7) 50%,rgba(255,255,255,1) 51%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3009688', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

}

.event-entry .event-title {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(0, 150, 136, 0.7);
	line-height: 1.3em;
	padding: 5px;
	color: #FFF;
	text-shadow: 1px 1px 2px rgba(0,0,0,.2);
	text-overflow: ellipsis;
	overflow: hidden;
	padding-right: 20px;
}

#view, #users {
	display: inline-block;
	vertical-align: top;
	width: 66%;
	margin-right: 0;
}

#users {
	width: 33%;
	padding-right: 2%;
}

.morning {
	border-left: solid 2px red;
	padding-left: 20px;
}

.afternoon {
	border-left: solid 2px rgb(107, 107, 255);
	padding-left: 20px;
}

.user-options {
	max-height: 350px;
}

.user-options > *:last-child {
	margin-bottom: 30px;
}

.anim-slide {
	transition: max-height 500ms;
	-webkit-transition: max-height 500ms;
}

.anim-slide-right {
	transition: max-width 500ms;
	-webkit-transition: max-width 500ms;
	overflow: hidden;
}

.anim-slide.ng-enter, .anim-slide.ng-remove-active {
	max-height: 300px;
}

.anim-slide.ng-leave, .anim-slide.ng-hide {
	max-height: 0px;
}

.anim-slide-right.ng-enter, .anim-slide-right.ng-remove-active {
	max-width: 300px;
}

.anim-slide-right.ng-leave, .anim-slide-right.ng-hide {
	max-width: 0px;
}

.anim-zoomIn.ng-show, .anim-zoomIn.ng-enter {
	animation: zoomIn 500ms;
	-webkit-animation: zoomIn 500ms;
}

.anim-zoomIn.ng-leave, .anim-zoomIn.ng-hide {
	animation: zoomOut 500ms;
	-webkit-animation: zoomOut 500ms;
}

.anim-fadeInDown.ng-show, .anim-fadeInDown.ng-enter {
	animation: fadeInDown 500ms;
	-webkit-animation: fadeInDown 500ms;
}

.anim-fadeInDown.ng-leave, .anim-fadeInDown.ng-hide {
	animation: fadeOutUp 500ms;
	-webkit-animation: fadeOutUp 500ms;
}

.anim-fadeIn.ng-show, .anim-fadeIn.ng-enter {
	animation: fadeIn 500ms;
	-webkit-animation: fadeIn 500ms;
	opacity: 0;
}

.anim-fadeIn.ng-leave, .anim-fadeIn.ng-hide {
	animation: fadeOut 500ms;
	-webkit-animation: fadeOut 500ms;
}

.avatar-crop {
	width: 80px;
	height: 80px;
	border-radius: 100% !important;
	-webkit-border-radius: 100% !important;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	margin: 10px 10px 0 0;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

h2 > .avatar-crop {
	margin: 0;
}

.date {
	font-weight: bold;
	display: inline-block;
}

.date:after {
	content: attr(data-number);
	display: inline-block;
	min-width: 20px;
	padding: 0 4px;
	height: 20px;
	background: #C7FFB5;
	text-align: center;
	border-radius: 4px;
	margin-left: 10px;
	font-weight: normal;
}

.per-date {
	margin-top: 30px;
	width: 100%;
	table-layout: fixed;
}

.per-date:first-child {
	margin-top: 0px;
}

.avatar-crop {
	position: relative;
}

.avatar-crop img {
	position: absolute;
	top: -1000px;
	bottom: -1000px;
	left: -1000px;
	right: -1000px;
	margin: auto;
}

.avatar-crop img.square {
	width: 100%;
	height: 100%;
}

.avatar-crop img.landscape {
	height: 100%;
}

.avatar-crop img.portrait {
	width: 100%;
}

.avatar-crop img.landscape {
	height: 100%;
}

.avatar-crop img.portrait {
	width: 100%;
}

.user-calendar {
	max-height: 300px;
	width: 100%;
	margin-bottom: 20px
}

.user-calendar[disabled] {
	opacity: 0.5;
	pointer-events: none;
}

.ui-datepicker {
	width: 100%;
	border-radius: 0;
	-webkit-border-radius: 0;
}

#preferences-cals {
	overflow:hidden;
}

#preferences-cals > * + * .ui-widget-content{
	border-left: none
}

.ui-datepicker {
	width: 100% !important; 
}

.ui-datepicker td .ui-state-active {
	background: transparent;
	color: #555;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	border: 1px solid #A9CE9E;
	background: #C7FFB5;
	color: #313131;
	opacity: 1;
}

.ui-datepicker-current-day.ui-state-highlight:not(.ui-state-disabled)  {
	position: relative;
	z-index: 1;
	box-shadow: 0 0 0px 2px #0052FF;
}

.ui-datepicker .ui-widget-header {
	height: 45px;
}

.ui-datepicker .ui-datepicker-title {
	margin-top: 8px;
}

.ui-datepicker .ui-datepicker-prev.ui-state-disabled,
.ui-datepicker .ui-datepicker-next.ui-state-disabled {
	display: none;
}

.angular-google-map-container { 
	height: 400px; 
}

@media screen and (max-width:960px) {

	#view {
		width: 100%;
		padding-right: 0%;
	}

	#users {
		width: 100%;
		padding-right: 0%;
	}

}

@media screen and (max-width:640px) {

	header {
		font-size: 16px;
		line-height: 15px;
	}

	h2 {
		font-size: 24px !important;
		text-align: center;
		display: block;
	}

	h3 {
		font-size: 20px !important;
	}

	h2 > .avatar-crop {
		display: block;
		margin: 0 auto;
	}
	
	.per-date td{
		display: block;
		width: 100%;
	}
	
	#preferences-cals .ui-datepicker, .ui-datepicker-multi-2 .ui-datepicker-group {
		width: 100%
	}

	.angular-google-map-container { 
		height: 200px; 
	}

	.anim-slide {
		transition: none;
		-webkit-transition: none;
	}

	.anim-slide.ng-enter, .anim-slide.ng-remove-active {
		display: block;
	}

	.anim-slide.ng-leave, .anim-slide.ng-hide {
		display: none;
	}

	.filters > span {
		display: block;
	}

	footer img {
		height: 30px;
	}

}