<div class="md-date-picker">
    <div class="md-date-picker-widget">
        <div class="md-date-picker-nav" ng-style="mdColors.getStyle('primary')">
            <md-button ng-disabled="disabled || preventPrevButton()" ng-click="$event.stopPropagation(); $event.preventDefault(); previousMonth()">
                prev
            </md-button>
            <md-select ng-hide="!selectMonth" ng-disabled="disabled" ng-model="currentMonth">
                <md-option ng-if="isValidMonth($index, $currentYear)" ng-repeat="month in months" value="{{ ::$index }}">{{ ::month }}</md-option>
            </md-select>
            <strong ng-hide="!!selectMonth">{{ months[currentMonth] }}</strong>
            <md-select ng-hide="!selectYear" ng-disabled="disabled" ng-model="currentYear">
                <md-option ng-repeat="year in years" value="{{ ::year }}">{{ ::year }}</md-option>
            </md-select>
            <strong ng-hide="!!selectYear">{{ currentYear }}</strong>
            <md-button ng-disabled="disabled || preventNextButton()" ng-click="$event.stopPropagation(); $event.preventDefault(); nextMonth()">
                next
            </md-button>
        </div>

        <div class="md-date-picker-days-of-week" ng-style="mdColors.getStyle('primary')">
            <span ng-repeat="day in daysOfWeek">{{ day }}</span>
        </div>

        <div class="md-date-picker-days">
            <span class="md-date-picker-day md-date-picker-day-empty"
                  ng-repeat="x in emptyFirstDays">&nbsp;</span><!--

         --><div class="md-date-picker-day"
                 ng-repeat="day in days">
                <md-button ng-click="select(day)" ng-disabled="disabled || !isDateValid(day)" ng-class="{ 
                    'md-accent md-raised': isDateSelected(day)
                }">{{ day ? day.format('D') : '' }}</md-button>
            </div><!--

         --><span class="md-date-picker-day md-date-picker-day-empty"
                  ng-repeat="x in emptyLastDays">&nbsp;</span>
        </div>
    </div>
</div>