<md-progress-circular md-mode="indeterminate" ng-if="loading" style="margin: 48px auto;"></md-progress-circular>
<div flex layout="column" ng-hide="loading">
	<md-tabs md-selected="selectedIndex" flex>
		<md-tab label="Events" ui-sref="event.list">
			<md-content class="md-padding" ui-view="eventView"></md-content>
		</md-tab>
		<md-tab label="Calendar">

		</md-tab>
		<md-tab label="Crews" ui-sref="group.list">
			<md-content class="md-padding" ui-view="groupView"></md-content>
		</md-tab>
	</md-tabs>
</div>