<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="apple-touch-icon" href="apple-touch-icon-precomposed.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="himatesApp" ng-controller="MainCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <header class="jumbotron">
      <h1>Hi Mates!<sub><span style="font-size: 18px">[beta]</span></sub></h1>
    </header>
    <header class="jumbotron only-loading" ng-if="loading==true" ng-show="loading==true">
      <h1>Hi Mates!<sub><span style="font-size: 18px">[beta]</span></sub></h1>
      <section layout="vertical" layout-sm="horizontal" layout-align="center center" ng-if="!user || !user.uid">
        <md-button ng-repeat="auth in authServices" class="md-fab login-button animate-repeat" ng-class="auth.name" ng-click="login(auth.name)" aria-label="Login with {{ auth.name }}"></md-button>
      </section>
    </header>
    <div ng-if="user && user.uid" ng-controller="MainCtrl" class="wrapper">
      <h2>
        <div class="avatar-crop">
          <img title="{{ getRealName() }}" draggable="false" ng-src="{{ getAvatar() }}" />
        </div>
        Hello, {{ getRealName() }}
      </h2>
      <div id="users">
        <h3>Fill your dates</h3>
        <material-content >
          <p>
            <md-checkbox ng-model="user.rejected" aria-label="Reject">
              I will not take part
            </md-checkbox>
          </p>
          <hm-user-calendar ng-model="user" hm-disabled="user.rejected"></hm-user-calendar>
          <md-radio-group class="anim-fadeIn" ng-if="currentDateModel" ng-model="currentDateModel.time">
            <md-radio-button value="day" aria-label="All day long">All day long</md-radio-button>
            <md-radio-button value="morning"  aria-label="Just morning">Just morning</md-radio-button>
            <md-radio-button value="afternoon" aria-label="Just afternoon">Just afternoon</md-radio-button>
          </md-radio-group>
        </material-content>
      </div>
      <div id="view">
        <h3>Overview</h3>
        <p>
          {{ getPreferencesNumber() }} subscribed.
        </p>
        <p ng-if="getRejectedNumber() == 1">
          {{ getRejectedNumber() }} will not take part.
        </p>
        <div id="preferences-cals">
          <hm-calendar cal-dates="preferredDays"></hm-calendar>
        </div>
        <h3>Subscriptions</h3>
        <p ng-if="!hasSubscriptions(allSelectedDays)">
          No subscriptions yet :(
        </p>
        <nav class="filters" ng-if="hasSubscriptions(allSelectedDays)">
          <span>Order by: </span>
          <a href="javascript:void(0)" ng-class="{ 'on': filter == 'date' }" ng-click="setFilter('date')">date</a> - 
          <a href="javascript:void(0)" ng-class="{ 'on': filter == 'day' }" ng-click="setFilter('day')">best day</a> - 
          <a href="javascript:void(0)" ng-class="{ 'on': filter == 'partial' }" ng-click="setFilter('partial')">morning/afternoon</a>
        </nav>
        <table class="per-date" ng-if="hasSubscriptions(allSelectedDays)">
          <thead>
            <td class="morning">Morning</td>
            <td class="afternoon">Afternoon</td>
          </thead>
        </table>
        <table class="per-date anim-zoomIn" ng-repeat="d in allSelectedDays | orderFilter:filter">
          <caption class="date" data-number="{{ d.length }}">{{ valToDate(d.date) }}</caption>
          <tbody>
            <tr>
              <td class="morning">
                <div ng-repeat="userData in d.users" class="avatar-crop anim-zoomIn" ng-if="userData.time == 'morning' || userData.time == 'day'">
                  <img title="{{ getRealName(userData.user) }}" draggable="false" ng-src="{{ getAvatar(userData.user) }}" />
                </div>
              </td>
              <td class="afternoon">
                <div ng-repeat="userData in d.users" class="avatar-crop anim-zoomIn" ng-if="userData.time == 'afternoon' || userData.time == 'day'">
                  <img title="{{ getRealName(userData.user) }}" draggable="false" ng-src="{{ getAvatar(userData.user) }}" />
                </div>
              </td>
                </tr>
              </tbody>
        </table>
      </div>
    </div>
    <footer>
      <p>
        &copy; An interactive web app for organize group activities.<br /><br />
        <img src="images/logos/html5.svg" alt="HTML5 logo" />
        <img src="images/logos/css3.svg" alt="CSS3 logo" />
        <img src="images/logos/js.svg" alt="JS logo" />
        <a href="http://angularjs.org" target="_blank"><img src="images/logos/angular.svg" alt="AngularJS logo" /></a>
        <a href="http://firebase.com" target="_blank"><img src="images/logos/firebase.png" alt="Firebase logo" /></a>
        <a href="http://jquery.com" target="_blank"><img src="images/logos/jquery.svg" alt="jQuery logo" /></a>
        <a href="http://jqueryui.com" target="_blank"><img src="images/logos/jqueryui.svg" alt="jQuery UI logo" /></a>
      </p>
    </footer>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/hammerjs/hammer.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/firebase-simple-login/firebase-simple-login.js"></script>
    <script src="bower_components/mockfirebase/dist/mockfirebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <!-- endbower -->
    <script src="scripts/libs/lodash.underscore.min.js"></script>
    <script src="scripts/libs/jquery-ui.multidatespicker.js"></script>
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/event.js"></script>
        <script src="scripts/directives/hm-calendar.js"></script>
        <script src="scripts/directives/hm-user-calendar.js"></script>
        <script src="scripts/filters/orderfilter.js"></script>
        <!-- endbuild -->
</body>
</html>
